@charset "utf-8";

$color-purple: #3e0c71;
$color-light-purple: #a17fe0;
$color-black: #070506;
$color-white: #fefefe;

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.08em;
  color: $color-white;
  font-weight: 300;
  background-color: $color-black;
}

a {
  color: inherit;

  &:hover,
  &:focus,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.ttl {
  font-size: 40px;
}

.link-btn {
  font-weight: 500;
  color: $color-white !important;
  border: 1px solid $color-white;
  border-radius: 10px;

  &:hover {
    color: $color-black !important;
    background-color: $color-white;
  }
}

/* JSでクラス追加される。モダルオープン時にno-scroll. */
.no-scroll {
  overflow: hidden;
}

/********************
            ヘッダー
*********************/

.header {
  padding: 30px 58px;
  width: 100%;
  z-index: 100;

  /* ヘッダーナビ */
  &-nav {
    &-list {
      width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &-item a {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 60%;
          height: 1px;
          opacity: 0;
          background-color: $color-white;
          transform: translate(-50%, 0);
          transition: all 0.3s ease-in-out;
        }

        &:hover::after {
          width: 120%;
          opacity: 1;
        }
      }
    }
  }

  /* ヘッダーコンタクトボタン */
  &-right {
    float: right;

    &-btn {
      padding: 12px 26px;
    }
  }
}

.pc-burger-wrapper {
  /*  PCバーガーボタン表示 */
  .pc-burger {
    display: none; /* デフォルト非表示 */
    z-index: 300;
    padding: 30px 58px;
    position: fixed;
    top: 0;
    right: 0;

    .bar {
      display: block;
      height: 2px;
      width: 30px;
      background-color: $color-white;
      margin-right: 0;
      margin-left: auto;
      transition: 0.8s;
    }

    .bar-top,
    .bar-mid {
      margin-bottom: 5px;
    }

    /* バーガーボタンをクロスにJSでクラス追加される */
    &.cross {
      .bar-top {
        transform: rotate(40deg) translate(0px, 9px);
      }
      .bar-mid {
        opacity: 0;
      }
      .bar-bottom {
        transform: rotate(-40deg) translate(0px, -9px);
      }
    }
  }

  /* PC バーガーナビ内 */
  .pc-open-wrapper {
    display: none; /* デフォルト非表示 */
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .pc-open-100 {
      display: flex;
      height: 100vh;

      .pc-open-60 {
        width: 60%;
      }

      .pc-menu {
        padding-top: 20%;
        width: 40%;

        background-color: $color-black;
        opacity: 0.95;
        text-align: center;

        &-li {
          list-style: none;
        }
        &-item {
          margin-bottom: 30px;
          font-size: 20px;

          a {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -5px;
              width: 60%;
              height: 1px;
              opacity: 0;
              background-color: $color-white;
              transform: translate(-50%, 0);
              transition: all 0.3s ease-in-out;
            }

            &:hover::after {
              width: 120%;
              opacity: 1;
            }
          }
        }

        &-contact {
          font-size: 20px;
          margin-top: 110px;

          &-btn {
            padding: 6px 60px;
          }
        }
      }
    }
  }
}

/* SPバーガー＆バーガーメニュー非表示 */
.sp-burger,
.sp-open-wrapper {
  display: none;
}

/********************
            fv
*********************/
.fv {
  background: url("../img/fv-pc.jpg") no-repeat top right;
  background-size: contain;
  height: 100vh;
  margin: -20px auto 0;
  max-width: 1500px;

  &-text {
    padding-top: 190px;
    padding-left: 70px;

    h1 {
      font-size: 70px;
      font-weight: 700;
      letter-spacing: 0.04em;
      color: transparent;
      display: inline-block;
      background: linear-gradient(
        -45deg,
        $color-white 0% 60%,
        $color-light-purple 70% 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
    }

    h3 {
      font-size: 30px;
      line-height: 42px;
      font-weight: 100;
    }
  }

  /* 矢印アニメーション */
  .arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 25%;
    bottom: 5%;
    padding: 70px 10px 10px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
    animation-iteration-count: infinite;

    @keyframes fadeInDown {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;

    /* 矢印CSSコード */
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border-bottom: solid 2px $color-light-purple;
      -webkit-transform: rotate(37deg);
      transform: rotate(37deg);
      position: absolute;
      top: 50%;
      left: 0;
    }

    /* 矢印CSSコード */
    &:after {
      content: "";
      width: 20px;
      height: 20px;
      border-bottom: solid 2px $color-light-purple;
      -webkit-transform: rotate(-37deg);
      transform: rotate(-37deg);
      position: absolute;
      top: 50%;
      left: 4px;
    }
  }
}

/********************
            about
*********************/
.about {
  margin-top: 170px;
  width: 100%;
  display: flex;
  background: url("../img/about-bg.jpg") no-repeat;
  background-size: cover;

  &-sp{  /* SP用非表示 */
    display: none;
  }

  &-contents {
    line-height: 24px;
    max-width: 1100px;
    margin: 0 auto;

    &-ttl {
      padding-left: 105px;
      padding-top: 105px;
      margin-top: 0;
    }

    /* スライダー */
    .slider {
      /* スライダー中身 */
      &-item {
        padding-top: 55px;
        max-width: 700px;
        margin-left: 20%;
        margin-right: 15px;
        outline: none;
        height: 300px !important;
        width: 480px;

        h6 {
          font-style: italic;
          font-size: 15px;
        }
        hr {
          width: 417px;
          margin: 0 0 10px;
        }
        ul,
        p {
          font-size: 13px;
        }
      }

      /* スライダーdots */
      .slick-dots {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 8%;

        li button {
          font-size: 0;
          margin-right: 10px;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background: $color-purple;
          border: none;
          outline: none;
        }

        .slick-active button {
          background: $color-light-purple;
        }
      }
    }
  }

  &-box {
    width: 100px;
    height: 512px;
    background-color: $color-purple;
  }

  &-img img {
    height: 512px;
    width: auto;
  }
}

/********************
            service
*********************/
.service {
  background: url("../img/service.jpg") no-repeat center left;
  background-size: contain;
  max-width: 1500px;
  margin: 0 auto;

  &-contents {
    padding: 150px 0 200px;
    margin-right: 20px;
    margin-left: auto;
    max-width: 700px;
    font-weight: 400;

      &-ttl {
        text-shadow: 0px 0px 5px $color-black;
      }

      &-group {
        display: flex;
        margin-top: 70px;

        &-coding,
        &-design {
          width: 270px;

          h5 {
            font-size: 20px;
            margin-bottom: 5px;
          }

          hr {
            margin-top: 0;
            margin-bottom: 14px;
            border-top: 2px solid $color-light-purple;
          }

        }

        &-coding {
          margin-right: 80px;
        }
      }
  }
}
/********************
            works
*********************/
.works {
  padding-top: 230px;
  padding-bottom: 160px;
  background: url("../img/works.jpg") no-repeat top right;
  background-size: contain;

  &-contents {
    padding-top: 30px;
    width: 860px;
    margin: 0 auto;

    &-list {
      margin-top: 50px;

      &-item {
        margin-top: 35px;
        box-shadow: 0 0 10px $color-white;
        background-color: $color-black; /* hover時のopacityBG用 */

        .modal-btn:hover {
          opacity: 0.4;
        }
      }
    }

    /* モダル内 */
    .modal {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 500;

      &-close {
        /*以下 × のCSSコード*/
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 50px;
        top: 30px;

        &:before,
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: $color-white;
          transform: rotate(45deg);
          transform-origin: 0% 50%;
          position: absolute;
          top: calc(14% - 5px);
          left: 14%;
        }

        &:after {
          transform: rotate(-45deg);
          transform-origin: 100% 50%;
          left: auto;
          right: 14%;
        }
      }

      &-inner {
        max-width: 960px;
        margin: 30px auto;

        &-img {
          width: 90%;
          margin: 0 auto;
          display: flex;
          align-items: flex-end;

          > img {
            vertical-align: bottom;
          }

          &-pc {
            width: 530px;
          }
            &-tb {
              width: 250px;
            }
            &-sp {
              width: 130px;
            }
          }
        

        &-contents {
          position: absolute;
          bottom: 40px;
          left: 40%;
          transform: translateX(-40%);
          -webkit-transform: translateX(-40%);

          h5 {
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 700;
          }

          p a {
            text-decoration: underline;
          }

          &-link {
            display: inline-block;
            color: $color-light-purple;
            border: 1px solid $color-light-purple;
            padding: 12px;
            border-radius: 6px;

            &:hover {
              background-color: $color-purple;
            }
          }
        }
      }
    }
  }
}

/********************
            contact
*********************/
.contact {
  background: url("../img/contact-bg.jpg");
  background-size: cover;
  padding: 150px 0;

  &-contents {
    margin: 0 auto;
    width: 800px;

    &-btns {
      text-align: right;
      margin-top: 50px;

      &-btn {
        &:last-of-type {
          margin-top: 45px;
        }

        a {
          padding: 10px 36px;

          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

/********************
            footer
*********************/
footer {
  hr {
    border-top: 1px solid gray;
    margin-top: 0;
  }

  .sns {
    margin: 15px;
    text-align: right;

    .fa-twitter,
    .fa-instagram {
      background-color: #55acee;
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      line-height: 50px !important;
      text-align: center;
      margin: 5px;
    }

    .fa-twitter {
      background-color: #55acee;
      font-size: 25px;
    }

    .fa-instagram {
      background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
        no-repeat;
      background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
      font-size: 30px;
    }

    .fa-twitter:hover,
    .fa-instagram:hover {
      opacity: 0.8;
    }

    .fa-chevron-up {
      margin: 0 10px 0 30px;
      padding: 10px;
      font-size: 20px;
    }
  }

  p {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 15px;
  }
}
